<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Cocktail DB</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
  <div class="container">
    <header>
      <a href="/">
        <span class="banner">Cocktail <span class="db">DB</span></span>
      </a>
      <ul class="navigation-list">
        <li>
          <a href="/" id="homePage" >Home</a>
        </li>
        <li><a id="aboutButton" href="/about">About</a></li>
      </ul>
    </header>
  </div>
  <body>
    <main class=" main-container">

