<%- include("partials/header.ejs")%>

<h1 class="page-title ">About Us</h1>
<p class="about-text">
  <span class="subtitle first">About Us</span>
  Welcome to Cocktail DB - the go-to place for cocktail enthusiasts and aspiring
  mixologists! Whether you’re a seasoned bartender or just looking to mix up
  something special for your next gathering, our website is dedicated to
  bringing you the best cocktail recipes, complete with all the ingredients and
  step-by-step instructions you need to craft the perfect drink. Our Passion for
  Cocktails At Cocktail DB, we believe that every cocktail has a story to tell.
  From the timeless classics to the latest trendy creations, we’ve gathered a
  diverse collection of recipes that celebrate the art of mixology. Our goal is
  simple: to make crafting delicious cocktails accessible and fun for everyone,
  regardless of skill level.
  <span class="subtitle">What You’ll Find Here</span>
  Cocktail Recipes: Explore our extensive library of cocktail recipes, featuring
  a wide range of flavors and styles. Whether you crave something sweet, sour,
  strong, or subtle, we’ve got a drink for every mood and occasion. Ingredients
  and Preparation Instructions: Each recipe comes with a detailed list of
  ingredients and easy-to-follow instructions. We guide you through every step,
  from selecting the right spirits and mixers to mastering the perfect garnish.
  Tips for Mixing and Serving: Discover tips and tricks for enhancing your
  cocktail-making skills, from understanding flavor pairings to choosing the
  right glassware.
  <span class="subtitle">Why We Do This</span>
  Our love for cocktails is driven by the joy of experimentation, creativity,
  and sharing great drinks with friends. We want to inspire you to explore new
  flavors, try new recipes, and elevate your home bartending game. At Cocktail
  DB, every cocktail is an opportunity to create, celebrate, and connect.
  <span class="subtitle">Join Our Community</span>
  We’re more than just a collection of recipes – we’re a community of cocktail
  lovers. Whether you’re here to find your new favorite drink or to learn the
  basics of mixology, we invite you to join us on this flavorful journey. Share
  your creations, experiment with new ingredients, and let’s raise a glass
  together!
  <span class="subtitle">Stay Connected</span>
  Don’t forget to bookmark our site and follow us on social media to stay
  updated on our latest recipes and cocktail tips. Cheers to great drinks and
  even better company!
</p>

<%- include("partials/footer.ejs")%>
